.hidden {
  display: none;  
}

html, body {
    /* these properties will be inherited by children elements */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image:url(../img/Simple\ Texture\ Gradient\ Background\ Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-logo {
    width: 1300px;
}

header > h1 {
 text-align: center;
 padding: 10px;
}

/* applies to all sections */
section {
    width: 400px;
    border: 4px solid #fff;
    border-radius: 8px;
    margin: 10px 12px; /* top/bottom left/right */
}

section > h2 {
    color: gray;
    padding: 4px 8px;
}

section:first-of-type {
    border: 4px solid gray;
}

/* the id has a higher specificity, so it beats out the section selector */
#inprogress {
    border: 4px solid red;
}

#inprogress h2 {
    color: red;
}

#done {
    border: 4px solid green;
}

#done > h2 {
    color: green;
}

ul {
    list-style-type: none;
    padding: 5px;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.toppriorities li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.appointments li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.5);
}

.exercise li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}

.reminders li:nth-child(odd) {
 background-color: rgba(255, 255, 255, 0.2);
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.5);
}

.notes li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.sticky_footer {
    position: sticky;
    top: 100%;
    height: 80px;
    background-color:black;
}

input[type="checkbox"]:checked + span::after {
    content:"✔️";
    margin-left: 5px;
}